<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= project.desc %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= project.manager&.name %>
  </p>

</div>
